/* Estilo para ocultar los botones de incremento y decremento */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    /* Estilo adicional para evitar que se muestre un pequeño espacio en Safari */
    -moz-appearance: textfield;
}

.text-justify {
    text-align: justify !important;
}

/* Logo */
.img-containerLogo {
    width: 200px;
    height: 50px;
    overflow: hidden;
}

.img-containerLogo img {
    width: 100%;
    /* Ajustar la imagen al 100% del ancho del contenedor */
    height: 100%;
    /* Ajustar la imagen al 100% de la altura del contenedor */
    object-fit: contain;
}

/* Custom card */
.fs-3 {
    font-size: 1.5rem;
}

.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    font-size: 1em;
    /* Initial height */
    background-color: #f0f0f0;
    overflow: scroll;
}

.container-card .card {
    width: 100%;
    height: 100%;
    padding: 20px;    
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Video */
#video-section {
    position: relative;
    width: 100%;
    height: 500px;
    /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    pointer-events: none;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/*  */

.image-container {
    width: 100%;
    height: 400px;
    overflow: clip;
    border-radius: 0.5rem;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

/* List info hero */

.list-wList {
    list-style-type: none
}

/* Count Down */

#countdown li {
    display: inline-block;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

#countdown li span {
    display: block;
    font-size: 1rem;
}

.card-bg {
    background-color: #573d06 !important;
}

@media all and (max-width: 768px) {

    #countdown li {
        font-size: calc(1.125rem * var(--smaller));
    }

    #countdown li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .img-containerLogo {
        width: 200px;
        height: 50px;
    }

    iframe {
        height: 90%;
    }

    .container-card {
        position: absolute;
        left: 25px;
        top: 550px;
        height: 200px;
        /* Initial height */
        background-color: #f0f0f0;
        overflow: scroll;
    }
    .container-card .card{
        overflow: scroll;
        font-size: smaller;
        height: 200px;
    }

    #home {
        height: 691px;
        max-width: 100vh;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .img-containerLogo {
        width: 200px;
        height: 50px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .img-containerLogo {
        width: 200px;
        height: 40px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .img-containerLogo {
        width: 200px;
        height: 50px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .img-containerLogo {
        width: 200px;
        height: 50px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .img-containerLogo {
        width: 200px;
        height: 50px;
    }
}